# Dependency directories
node_modules/

# Environment variables / secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# SQLite databases
*.sqlite
*.db
database.sqlite

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS metadata
.DS_Store
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

.vercel
.env*
scratch_db.js
